/* Inserta tu codigo aqui */


.imgs-blog {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 250px;
}
.blog1 {
	background-image: url(../img/wts-40.JPG); 
}
.profesor_5 {
	background-image: url(../img/wts-41.jpg);
}
.instructor_3 {
	background-image: url(../img/wts-43.jpg);
}
.pd- {
	margin-bottom: -12px;
	font-size: 15px;
}
.bt-ver-mas {
	padding: 10px 70px;
	background-color: #192951;
	border-radius: 3px;
	margin-top: 40px;
	display: inline-block;
}
.arts {
	background-color: #CCC9D4;
	margin-left: -27px !important;
}
.pad-arts {
	padding: 10px 0px 7px 40px;
}
