/* Inserta tu codigo que es común para todas las páginas aqui */

/*header*/

* {
	box-sizing: border-box;
}

.fs-header {
	font-size: 30px;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
}

.menu {
	color: rgba(25, 41, 81, 0.3);
	font-size: 15px;
	margin: 0px 40px;
}

/*formulario*/

.shoes- {
	height: 500px;
    background-color: white;
	/*background-image: url(../img/wts-11.jpg);*/
	background-repeat: no-repeat;
	background-position: right; 
	background-size: contain;
}

.form {
	margin-top: 20px;
	width: 350px;
	padding: 7px 30px;
	border: 1px solid #E7E6E6;
}

.pers-ico {
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	width: 50%;
	background-size: 6%;
	background-repeat: no-repeat;
}
.em-ico {
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	width: 50%;
	background-size: 6%;
	background-repeat: no-repeat;
}
.mens {
	height: 170px;
	padding-top: -50px;
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	width: 50%;
	background-size: 6%;
	background-repeat: no-repeat;
}
.bt-enviar {
	text-align: center;
	padding:20px 163px;
	margin-top: 20px;
	background-color: #192951;
    color: #fff;
	border-radius: 3px;
}
.bg-blue {
	background-color: #192951;
	height: 50px;
	margin-top: 30px;
}

/*footer*/

.footer {
	color: white;
}





