/* Inserta tu codigo aqui */

.fond-img-nosotros {
	background-image: url(../img/WTS-20.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	height: 700px;	
}
.par-nosotr {
	background-color: rgba(1, 1, 1, 0.6);
	padding: 10px;
	height: 600px;	
	width: 500px;
	padding-bottom: 10px;
	padding-top: 0px;
	margin-top: 50px;
	margin-left: 200px;
}
.parf {
	margin-top: -20px;
}
.fond-art-nosot {
	background-image: url(../img/cubes.png);
	height: 1850px;	
}
.pilar {
	width: 250px;
	margin-top:80px; 
}
.instructores p {
    margin-top: -30px;
}
.imgs-instructores {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
.profesor_4 {
    background-image: url("../img/wts-21.jpg");
}
.profesor_14 {
    background-image: url("../img/wts-25.jpg");
}
.profesor_1 {
    background-image: url("../img/wts-22.jpg");
}
.profesor_10 {
    background-image: url("../img/wts-24.jpg");
}
.profesor_11 {
    
}
.profesor_12 {
    background-image: url("../img/wts-23.jpg");
}
.profesor_9 {
    background-image: url("../img/wts-26.jpg");
}
.profesor_15 {
    
}
.art-frase-isp {
    background-image: url("../img/cubes.png");
    padding: 50px 0;
}
.frase-isp {
    font-size: 40px;
}
